{
  "pid": "com.tibco.bw.stat.appnode.92dcbc37-4c4b-4bcf-91a9-38c8a3c0235c",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.92dcbc37-4c4b-4bcf-91a9-38c8a3c0235c",
      "type": "java.lang.String"
    }
  }
}